<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OTP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9CEB8564A5DCC424C691CE0B2CEA559B29359F80</string>
				<key>dateExpires</key>
				<string>1/8/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FU572XKYYU.org.mikekinney.kinneyotpgodot</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KX7M98TKQ6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OTP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c0100d3c-4131-4eb1-b6a2-c154b8705603</string>
				<key>dateExpires</key>
				<string>1/8/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KX7M98TKQ6</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
